/* media queries */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.frase, body .main .titulos .titulos__contenedor .titulos__texto {
  background-color: #212121;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 1rem 3rem; }

.botones, .btn-primary {
  color: #FFFFFF;
  background-color: #9C27B0;
  border-color: #212121; }

.header {
  background-color: #9C27B0;
  text-align: center;
  border-bottom: 0.2rem solid black; }
  .header .header__link .header__logo {
    width: 10rem; }
  .header .nav {
    display: inline;
    text-align: center; }
    .header .nav .nav__lista {
      background-color: #9C27B0;
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      margin: 1rem; }
      .header .nav .nav__lista .nav__links {
        list-style: none;
        border-radius: 0.5rem;
        border: 0.2rem solid white;
        background-color: black;
        padding: 0.2rem;
        margin: 0.5rem; }
        .header .nav .nav__lista .nav__links:hover {
          background-color: #9E9E9E; }
        .header .nav .nav__lista .nav__links .nav__link {
          color: #FFFFFF;
          text-decoration: none; }
          .header .nav .nav__lista .nav__links .nav__link:hover {
            color: black; }

.footer {
  border-top: 0.2rem solid black;
  background-color: #9C27B0; }
  .footer .titulos .titulos__footer {
    font-size: 2.5rem;
    font-family: 'Rubik Glitch', cursive;
    text-align: center; }
  .footer .titulos .divider {
    text-align: center; }
    .footer .titulos .divider .divider__img {
      height: 3.5rem; }
  .footer .contenedor-social {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .footer .contenedor-social .redes {
      background-color: #9C27B0; }
      .footer .contenedor-social .redes .redes__iconos {
        display: flex;
        color: aliceblue;
        font-size: 1.5rem;
        padding: 0.2rem;
        margin: 1rem; }
        .footer .contenedor-social .redes .redes__iconos .redes__links {
          list-style: none;
          text-decoration: none;
          color: black; }
  .footer .footer__fin {
    text-align: right;
    color: white; }

.card {
  padding: 0.2rem;
  margin: 1rem;
  box-shadow: 10px 5px 5px black; }

.card-img-top {
  height: 18rem; }

body {
  background-color: #9E9E9E; }
  body .main .titulos {
    text-align: center;
    padding: 1rem;
    margin: 1rem; }
    body .main .titulos .divider {
      text-align: center; }
      body .main .titulos .divider .divider__img {
        width: 22rem;
        padding: 0.5rem;
        margin: 0.5rem; }
    body .main .titulos .titulos__contenedor .titulos__texto--animado {
      font-family: 'Rubik Glitch', cursive;
      font-size: 2.5rem; }
