@charset "UTF-8";
/* media queries */
@media only screen and (min-width: 600px) {
  .telefono__img {
    width: 5rem;
    z-index: 2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block !important; } }

@media only screen and (min-width: 1024px) {
  .telefono__img {
    width: 5rem;
    z-index: 2;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block !important; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.frase, body .main .titulos .titulos__contenedor .titulos__texto, body .section .titulos .titulos__contenedor .titulos__texto {
  display: inline-block;
  background-color: #212121;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 1rem 3rem;
  padding: 0.3rem 1rem;
  font-family: 'Bebas Neue', cursive; }

.botones, .btn-primary {
  color: #FFFFFF;
  background-color: #9C27B0;
  border-color: #212121; }

.card {
  padding: 0.2rem;
  margin: 1rem;
  border-radius: 10px;
  background: linear-gradient(315deg, #f0f0f0, #cacaca);
  box-shadow: -9px -9px 18px #a1a1a1, 9px 9px 18px #ffffff; }

.header {
  border-bottom: 0.2rem solid black;
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(156, 39, 176, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .header .nav .nav__estructura {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .header .nav .nav__logo {
    display: flex;
    justify-content: center;
    width: 8rem; }
    .header .nav .nav__logo .nav__logo__img {
      width: 5rem; }
  .header .nav .nav__links {
    display: flex; }
    .header .nav .nav__links .nav__link {
      font-family: 'Bebas Neue', cursive;
      font-size: 1.2rem;
      padding: 0.5rem;
      color: white;
      text-decoration: none;
      border-bottom: 0.2rem solid transparent;
      transition: border .3s ease; }
      .header .nav .nav__links .nav__link:hover {
        border-bottom-color: black;
        transform: scale(1.1); }

.footer {
  border-top: 0.2rem solid black;
  background-color: #9C27B0; }
  .footer .titulos .titulos__footer {
    font-size: 2.5rem;
    font-family: 'Rubik Glitch', cursive;
    text-align: center; }
  .footer .titulos .divider {
    text-align: center; }
    .footer .titulos .divider .divider__img {
      height: 3.5rem; }
  .footer .contenedor-social {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .footer .contenedor-social .redes {
      background-color: #9C27B0; }
      .footer .contenedor-social .redes .redes__iconos {
        display: flex;
        color: aliceblue;
        font-size: 1.5rem;
        padding: 0.2rem;
        margin: 1rem; }
        .footer .contenedor-social .redes .redes__iconos .redes__links {
          list-style: none;
          text-decoration: none;
          color: black; }
  .footer .footer__fin {
    text-align: right;
    color: white; }

.card-img-top {
  height: 18rem; }

body {
  background-image: url(https://i.ibb.co/3c1yrcK/d1aa2aaabcad1f9a01a3ff4f0ae46288.jpg) !important; }
  body .main .titulos {
    text-align: center;
    padding: 1rem;
    margin: 1rem; }
    body .main .titulos .divider {
      text-align: center; }
      body .main .titulos .divider .divider__img {
        width: 20rem;
        padding: 0.2rem;
        margin: 0.2rem; }
    body .main .titulos .titulos__contenedor .titulos__texto--animado {
      font-family: 'Rubik Glitch', cursive;
      font-size: 2.5rem; }
    body .main .titulos .titulos__contenedor .titulos__texto {
      display: block; }
  body .main .carrousel {
    z-index: 0; }
  body .telefono .telefono__img {
    width: 5rem;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none; }

body .main .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem; }
  body .main .contenedor .contenedor__card {
    width: 20rem;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 0.5rem; }
    body .main .contenedor .contenedor__card .contenedor__titulo {
      text-align: left;
      font-size: 1rem;
      margin-left: 1rem;
      margin-top: 1rem;
      font-weight: bold; }
      body .main .contenedor .contenedor__card .contenedor__titulo .contenedor__titulo__img {
        width: 2.2rem; }
    body .main .contenedor .contenedor__card .contenedor__imagen {
      align-self: center;
      width: 18rem;
      padding: 0.2rem;
      height: 17rem;
      border-radius: 1rem; }
    body .main .contenedor .contenedor__card .contenedor__descripcion {
      text-align: center; }
    body .main .contenedor .contenedor__card .contenedor__link {
      text-align: center; }
      body .main .contenedor .contenedor__card .contenedor__link:hover {
        transform: scale(1.2); }
      body .main .contenedor .contenedor__card .contenedor__link .botón {
        background-color: #9C27B0;
        color: #FFFFFF;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid black;
        text-decoration: none;
        box-shadow: 1px 1px 1px; }
        body .main .contenedor .contenedor__card .contenedor__link .botón .bi {
          margin: 0.5rem; }

body .telefono .telefono__img {
  width: 5rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none; }

body .section .titulos {
  text-align: center;
  padding: 1rem;
  margin: 1rem; }
  body .section .titulos .divider {
    text-align: center; }
    body .section .titulos .divider .divider__img {
      width: 22rem;
      padding: 0.5rem;
      margin: 0.5rem; }

body .section .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; }
  body .section .contenedor .contenedor__card {
    width: 20rem;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    border: 1px solid black; }
    body .section .contenedor .contenedor__card .contenedor__imagen {
      align-self: center;
      width: 15rem;
      padding: 0.2rem;
      height: 15rem;
      border-radius: 1rem; }
    body .section .contenedor .contenedor__card .contenedor__descripcion {
      text-align: justify;
      margin: 1rem; }
    body .section .contenedor .contenedor__card .contenedor__prenda .prenda {
      width: 90%;
      height: 26rem;
      padding-bottom: 1rem;
      border-radius: 1rem; }
    body .section .contenedor .contenedor__card .contenedor__prenda .prenda--abuelo {
      width: 90%;
      height: 24.5rem;
      padding-bottom: 1rem;
      border-radius: 0.5rem; }

body .telefono .telefono__img {
  width: 5rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none; }

body .main .main__titulo {
  text-align: center; }

body .main .main__parrafo {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  color: white;
  background: rgba(19, 10, 10, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

body .main .contenedor__video {
  display: flex; }
  body .main .contenedor__video .videos {
    justify-content: space-around;
    margin-bottom: 2rem;
    border-radius: 1rem; }

body .telefono .telefono__img {
  width: 5rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: none; }

.main .formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main .formulario .formulario__estructura .formulario__titulo {
    font-size: 3rem;
    text-align: center; }
    .main .formulario .formulario__estructura .formulario__titulo .formulario__divider {
      width: 5rem; }
  .main .formulario .formulario__estructura .form {
    text-align: center;
    background-color: white;
    border: 0.3rem solid black;
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.8rem; }
    .main .formulario .formulario__estructura .form .form__botones .boton {
      background-color: #9C27B0;
      color: #FFFFFF;
      padding: 0.5rem;
      border-radius: 1rem;
      border: 1px solid black;
      text-decoration: none;
      box-shadow: 1px 1px 1px; }
      .main .formulario .formulario__estructura .form .form__botones .boton:hover {
        transform: scale(1.1);
        background-color: black;
        color: white; }
