//mixins
@mixin espacios ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}
//extends
.frase{
    background-color: map-get($colores , acento );
    color: #FFFFFF;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 1rem 3rem;
}
.botones{
    color: $textos;
    background-color: $principal;
    border-color: $acento;
}