.header{
    border-bottom: 0.2rem solid black;
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgba( 156, 39, 176, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .nav{
        .nav__estructura{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }
        .nav__logo{
            display: flex;
            justify-content: center;
            width: 8rem;
            .nav__logo__img{
                width: 5rem;
            }
        }
        .nav__links{
            display: flex;
            .nav__link{
                font-family: 'Bebas Neue', cursive;
                font-size: 1.2rem;
                padding: 0.5rem;
                color: white;
                text-decoration: none;
                border-bottom: 0.2rem solid transparent;
                transition: border .3s ease;
                &:hover{
                    border-bottom-color: black;
                    transform: scale(1.1);
                }
            }
        }
    }   
}