.header{
    background-color: map-get($colores , principal );
    border-bottom: 0.2rem solid black;
    position: sticky;
    top: 0;
    z-index: 1;
    .nav{
        .nav__estructura{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }
        .nav__logo{
            display: flex;
            justify-content: center;
            width: 8rem;
            .nav__logo__img{
                width: 5rem;
            }
        }
        .nav__links{
            display: flex;
            .nav__link{
                font-family: 'Bebas Neue', cursive;
                font-size: 1.2rem;
                padding: 0.5rem;
                color: white;
                text-decoration: none;
                border-bottom: 0.2rem solid transparent;
                transition: border .3s ease;
                &:hover{
                    border-bottom-color: black;
                    transform: scale(1.1);
                }
            }
        }
    }   
}