body{
    background-image: url(https://i.ibb.co/3c1yrcK/d1aa2aaabcad1f9a01a3ff4f0ae46288.jpg);
    .main{
        .titulos{
            text-align: center;
            @include espacios (1rem, 1rem);
            .divider{
                text-align: center;
                .divider__img{
                    width:20rem;
                    @include espacios(0.2rem, 0.2rem);
                }
            }
            .titulos__contenedor{
                .titulos__texto--animado{
                    font-family: 'Rubik Glitch', cursive;
                    font-size: 2.5rem;
                }
                .titulos__texto{
                    @extend .frase;
                    display: block;
                }
            }
        }
        .carrousel{
            z-index: 0;
        }
    }
}