.main{
    .main__titulo{
        text-align: center;
        .main__parrafo{
            text-align: center;
            margin: 1rem;
        }
    }
    .contenedor__video{
        display: flex;
        .videos{
            justify-content: space-around;
            margin-bottom: 2rem;
            border-radius: 1rem;
        }
    }
}