
/* media queries */
@media only screen and (min-width:600px){
    .telefono__img{
        width: 5rem;
        z-index: 2;
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: block !important;
    }
    .footer{
        .titulos{
            .titulos__footer{
                font-size: 2rem !important;
            }
        }
    }
    
}    
@media only screen and (min-width:1024px){
    .telefono__img{
        width: 5rem;
        z-index: 2;
        position: fixed;
        bottom: 0px;
        right: 0px;
        display: block !important;
    }
    .footer{
        .titulos{
            .titulos__footer{
                font-size: 2.5rem !important;
            }
        }
    }
    
}